<div id="draft-warning" class="alert warning">
    <div class="message">
      <p>Адрес перевода изменился. Актуальная версия находится по адресу
      <a href="https://doc.rust-lang.ru/stable/rust-by-example/{{ filename }}">
        https://doc.rust-lang.ru/stable/rust-by-example/{{ filename }}</a>
      </p>
      <p>Через 10 секунд вас перенаправит на новую страницу.</p>
    </div>
</div>
<script type="text/javascript">

</script>
