<div id="draft-warning" class="alert warning">
    <span class="message">
      Адрес перевода изменился. Актуальная версия находится по адресу
      <a href="https://doc.rust-lang.ru/stable/rust-by-example/">
        https://doc.rust-lang.ru/stable/rust-by-example
      </a>.
    </span>
</div>
<script type="text/javascript">

</script>
